
@font-face {font-family: "icon";
  src: url('icon.eot?t=1498037738741'); /* IE9*/
  src: url('icon.eot?t=1498037738741#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('icon.woff?t=1498037738741') format('woff'), /* chrome, firefox */
  url('icon.ttf?t=1498037738741') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('icon.svg?t=1498037738741#icon') format('svg'); /* iOS 4.1- */
}

.icon {
  font-family:"icon" !important;
  font-size:18px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bianji:before { content: "\e600"; }

.icon-shuaxin:before { content: "\e601"; }

.icon-shanchu:before { content: "\e636"; }

.icon-xiangji:before { content: "\e603"; }

.icon-tuichu:before { content: "\e67d"; }

.icon-dianhua:before { content: "\e61e"; }

.icon-youjian:before { content: "\e605"; }

.icon-jiantou:before { content: "\e618"; }

.icon-zhandian:before { content: "\e806"; }

.icon-eyes:before { content: "\e61d"; }

.icon-wifijiance:before { content: "\e622"; }

.icon-gengduo:before { content: "\e627"; }

.icon-shexiangtou:before { content: "\e610"; }

.icon-gongjiaoche:before { content: "\e657"; }

.icon-che:before { content: "\e619"; }

.icon-top-trigle-copy:before { content: "\e606"; }

.icon-luxian:before { content: "\e61b"; }

.icon-arrow-left-copy:before { content: "\e607"; }

.icon-arrow-left-copy1:before { content: "\e60d"; }

.icon-biaoji:before { content: "\e65d"; }

.icon-huanyuan:before { content: "\e61f"; }

.icon-luxiandaohang:before { content: "\e6c5"; }

.icon-huanyuan1:before { content: "\e690"; }

.icon-lukuang:before { content: "\e69a"; }

.icon-ic_tuceng:before { content: "\e60f"; }

.icon-ic_gongju:before { content: "\e612"; }

.icon-ic_quanping:before { content: "\e613"; }

.icon-ic_kongqi:before { content: "\e614"; }

.icon-ic_weixing:before { content: "\e615"; }

.icon-icocejukaobei:before { content: "\e617"; }

.icon-icquyuchaxun:before { content: "\e61c"; }

.icon-icocemiankaobei:before { content: "\e621"; }

.icon-yichang:before { content: "\e616"; }

.icon-zhengchang:before { content: "\e61a"; }


