
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1473832939'); /* IE9*/
  src: url('iconfont.eot?t=1473832939#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1473832939') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1473832939') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1473832939#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-blue{color:#298cef;}
.icon-diqiu:before { content: "\e600"; }
.icon-zanting:before { content: "\e601"; }
.icon-bofang:before { content: "\e602"; }
.icon-jinzhi:before { content: "\e61a"; }
.icon-xiangji:before { content: "\e603"; }
.icon-rili:before { content: "\e604"; }
.icon-youjian:before { content: "\e605"; }
.icon-dianhua:before { content: "\e606"; }
.icon-dianhua1:before { content: "\e607"; }
.icon-shezhi:before { content: "\e608"; }
.icon-dianhua2:before { content: "\e609"; }
.icon-tingzhi:before { content: "\e60a"; }
.icon-send:before { content: "\e61c"; }
.icon-dingwei:before { content: "\e60b"; }
.icon-x-mpg:before { content: "\e60c"; }
.icon-xia:before { content: "\e60d"; }
.icon-fadajing:before { content: "\e60e"; }
.icon-eyes:before { content: "\e61d"; }
.icon-tuichu:before { content: "\e61b"; }
.icon-remen-copy:before { content: "\e60f"; }
.icon-shexiangtou:before { content: "\e610"; }
.icon-214:before { content: "\e611"; }
.icon-guanbi:before { content: "\e612"; }
.icon-lingdangxian:before { content: "\e613"; }
.icon-full-screen:before { content: "\e614"; }
.icon-baojingalarm8:before { content: "\e615"; }
.icon-xiaoxitixingchuangkoudanchufangshi:before { content: "\e619"; }
.icon-yuanxuxian:before { content: "\e616"; }
.icon-guanbi1:before { content: "\e617"; }
.icon-knodetailhalfscreen:before { content: "\e618"; }
