.form-mapSub {
  padding: 15px 0;
  position: fixed;
  z-index: 10;
  right: 10px;
  top: 10px;
  background-color: #fff;
  box-shadow: 0px 4px 10px #c2c8ce;
  color: #666666;
  font-size: 12px;
}
.form-mapSub ul li {
  float: left;
  padding: 0  15px;
  border-right: 1px solid #efefef;
  cursor: pointer;
}
.form-mapSub ul li .navSub {
  position: absolute;
  top: 55px;
  right: 0;
  background-color: #fff;
  box-shadow: 0px 4px 10px #c2c8ce;
  color: #666666;
}
.form-mapSub ul li .navSub .navClose {
  position: absolute;
  top: 8px;
  right: 8px;
  font-size: 18px;
  color: #aaaaaa;
}
.form-mapSub ul li .navSub #navSubMenu {
  width: 100%;
  border: none;
}
.form-mapSub ul li .navSub #navSubMenu #navSubMenuNav {
  display: block;
  width: 100%;
  height: 40px;
  font-size: 14px;
}
.form-mapSub ul li .navSub #navSubMenu #navSubMenuNav li {
  float: left;
  height: 39px;
  line-height: 39px;
  padding: 0;
  border: none;
  border-bottom: 1px solid #31b6fc;
}
.form-mapSub ul li .navSub #navSubMenu #navSubMenuNav li a:link {
  display: block;
  text-decoration: none;
  text-align: center;
  height: 40px;
  line-height: 40px;
  width: 100px;
  color: #666;
}
.form-mapSub ul li .navSub #navSubMenu #navSubMenuNav li:last-child {
  padding-right: 30px;
}
.form-mapSub ul li .navSub #navSubMenuCon {
  width: 100%;
  border-top: none;
}
.form-mapSub ul li .navSub .navTag {
  position: relative;
  background-color: #fff;
  padding: 15px;
}
.form-mapSub ul li .navSub .navTag ul li {
  border: none;
  width: 100%;
  clear: both;
  margin-bottom: 10px;
}
.form-mapSub ul li .navSub .navTag ul li .custom-checkbox {
  display: block;
}
.form-mapSub ul li .navSub .navTag ul li .custom-checkbox label {
  width: inherit;
  padding-left: 30px;
  font-size: 12px;
  padding-top: 2px;
}
.form-mapSub ul li .navSub .navSubActive {
  color: #31b6fc !important;
  background: url("../../resources/css/imgs/navArrow.png") no-repeat;
  background-position: 50% 34px;
}
.form-mapSub ul li .heatMap {
  position: absolute;
  top: 140px;
  right: 0;
  width: 430px;
  background-color: #fff;
  box-shadow: 0px 4px 10px #c2c8ce;
  color: #666666;
  padding: 10px 30px 10px 10px;
}
.form-mapSub ul li .heatMap .heatMapClose {
  position: absolute;
  top: 5px;
  right: 8px;
  font-size: 18px;
  color: #aaaaaa;
}
.form-mapSub ul li .heatMap .heatMapText {
  margin-right: 20px;
  font-size: 14px;
}
.form-mapSub ul li .heatMap .navbtn {
  width: 50px;
  height: 24px;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  border: none;
  margin-right: 10px;
  cursor: pointer;
}
.form-mapSub ul li .heatMap .navbtn:active {
  position: relative;
  top: 1px;
}
.form-mapSub ul li .heatMap .bgGreen {
  background-color: #40bd84;
}
.form-mapSub ul li .heatMap .bgBlue {
  background-color: #31b6fc;
}
.form-mapSub ul li .heatMap .bgPink {
  background-color: #e974e9;
}
.form-mapSub ul li .heatMap .bgOrg {
  background-color: #e9c73d;
}
.form-mapSub ul li .heatMap .bgRed {
  background-color: #f76a6a;
}
.form-mapSub ul li .heatMapSite {
  position: absolute;
  top: 140px;
  right: 0;
  width: 430px;
  background-color: #fff;
  box-shadow: 0px 4px 10px #c2c8ce;
  color: #666666;
  padding: 10px 30px 10px 10px;
  top: 193px;
  width: 315px;
}
.form-mapSub ul li .heatMapSite .heatMapClose {
  position: absolute;
  top: 5px;
  right: 8px;
  font-size: 18px;
  color: #aaaaaa;
}
.form-mapSub ul li .heatMapSite .heatMapText {
  margin-right: 20px;
  font-size: 14px;
}
.form-mapSub ul li .heatMapSite .navbtn {
  width: 50px;
  height: 24px;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  border: none;
  margin-right: 10px;
  cursor: pointer;
}
.form-mapSub ul li .heatMapSite .navbtn:active {
  position: relative;
  top: 1px;
}
.form-mapSub ul li .heatMapSite .bgGreen {
  background-color: #40bd84;
}
.form-mapSub ul li .heatMapSite .bgBlue {
  background-color: #31b6fc;
}
.form-mapSub ul li .heatMapSite .bgPink {
  background-color: #e974e9;
}
.form-mapSub ul li .heatMapSite .bgOrg {
  background-color: #e9c73d;
}
.form-mapSub ul li .heatMapSite .bgRed {
  background-color: #f76a6a;
}
.form-mapSub ul li:last-child {
  border-right: none;
}
.form-mapSub .navIcon {
  color: #ccc;
  font-size: 20px;
  vertical-align: middle;
}
.form-mapSub .navActiveBlue {
  color: #31b6fc;
}
.form-mapSub .navActiveBlue span {
  color: #31b6fc;
}
.form-mapSub .navActiveGreen {
  color: #00cb99;
}
/*空气*/
.air {
  position: absolute;
  top: 55px;
  right: 0;
  background-color: #fff;
  box-shadow: 0px 4px 10px #c2c8ce;
  color: #666666;
  padding: 10px 30px 10px 10px;
}
.air .heatMapClose {
  position: absolute;
  top: 5px;
  right: 8px;
  font-size: 18px;
  color: #aaaaaa !important;
}
/*路况*/
.road {
  position: absolute;
  top: 55px;
  right: 0;
  background-color: #fff;
  box-shadow: 0px 4px 10px #c2c8ce;
  color: #666666;
  padding: 10px 30px 10px 10px;
}
.road .heatMapClose {
  position: absolute;
  top: 5px;
  right: 8px;
  font-size: 18px;
  color: #aaaaaa !important;
}
/*工具*/
.tool {
  position: absolute;
  top: 55px;
  right: 0;
  background-color: #fff;
  box-shadow: 0px 4px 10px #c2c8ce;
  color: #666666;
  padding: 10px 30px 10px 10px;
}
.tool .heatMapClose {
  position: absolute;
  top: 5px;
  right: 8px;
  font-size: 18px;
  color: #aaaaaa !important;
}
/*默认隐藏*/
.sub-nav-toolbar {
  display: none;
}
